<footer class="page-footer bg-secondary pt-3">

    <div class="container">
        

<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
            <li>
                <a href="https://www.linkedin.com/in/maria-carolina-s-n-xavier-05340b191/" target="_blank" class="ico">
                    <img src="https://i.imgur.com/44uD4js.png"width="35px" height="35px">
                </a>
            </li>

            <li>
                <a href="https://github.com/mcsnsx" target="_blank" class="ico">
                    <img src="https://i.imgur.com/f9zp9f8.png" width="35px" height="35px">
                </a>
            </li>

        </ul>

    </div>
</div>

    </div>

    <div class="row">
        <div class="footer-copyrigght bg-dark text-center py-1">
            <span class="text-white py-1" >© Maria Carolina. Janeiro, 2022.</span>
        </div>
    </div>


</footer>